<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" type="text/css" href="/search.css">
  <link rel="stylesheet" type="text/css" href="/home.css">
  <title>Sertifikat Diklat</title>
</head>

<body>
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />

    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
        <!-- Sidebar content here -->
        <li class="text-green-900"><a href="/">Home</a></li>
        <li class="text-green-900"><a href="/sertifikat">Sertifikat</a></li>
      </ul>

    </div>
    <div class="drawer-content flex flex-col">

      <!-- Navbar -->
      <div class="w-full navbar border shadow-lg px-6 py-1">
        <div class="logo px-2 mx-2">
          <img src="/logo.png" alt="logo"> Diklat RSKG
        </div>
        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
              </path>
            </svg>
          </label>
        </div>
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <li class="text-green-900"><a href="/">Home</a></li>
            <li class="text-green-900"><a href="/sertifikat">Sertifikat</a></li>
          </ul>
        </div>
      </div>

      <div class="main grid lg:grid-cols-2 gap-16 p-10">
        <div class="popup-1">
          <!-- search -->
          <h1 class="text-2xl">Sertifikat Diklat</h1>
          <form>
            <input class="input input-bordered w-full max-w-xs" type="text" id="no_sertifikat"
              placeholder="Masukan Nomor Sertifikat" />
            <button
              class="btn btn-outline btn-active border-green-900 bg-green-900 hover:bg-white hover:text-green-900 text-white cursor-pointer"
              type="submit">Cari</button>
          </form>
        </div>
        <!-- find -->
        <div class="popup">
          <div class="kolom bg-white rounded-lg p-10 shadow-lg ml-7">
            <div class="title font-extrabold text-2xl mb-4">
              <h2 class="text-center <% if(isRegistered){%>text-green-900<%} else{%>text-red-700<%}%>">
                <% if(isRegistered){%>Sertifikat Terdaftar <%} else { %> Sertifikat Tidak Terdaftar! <% } %>
              </h2>
            </div>
            <div class="deskripsi text-sm text-center">
              <% if (isRegistered) { %>
                <p>
                  Saya <strong>
                    <%= data.nama %>
                  </strong> dengan NIP <strong>
                    <%= data.nip %>
                  </strong> telah mengikuti kegiatan Inhouse Training (IHT), dengan
                  tema
                  <strong> SIMRS</strong>.
                </p>
            </div>

            <section class="mt-3 text-sm">
              <h3 class="text-center mb-2">Kompetensi Materi :</h3>
              <ul class="list-desc text-center">
                <li>
                  Pengenalan dan Penggunaan SIMRS
                </li>
                <li>
                  Penggunaan Akses dan Login SIMRS
                </li>
                <li>
                  Pengenalan dan Penanggulangan Downtime Sistem
                </li>
              </ul>
            </section>
            <% } %>
          </div>
        </div>
      </div>

      <script>
        const search = document.querySelector('form')
        const no_sertifikat = document.querySelector('#no_sertifikat')
        search.addEventListener('submit', e => {
          e.preventDefault()
          location.replace(`/sertifikat/${no_sertifikat.value}`)
        })
      </script>

    </div>

  </div>


</body>

</html>