.title{
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-size: x-large;
}

section{
    display: relative;
    margin-bottom: 10px;
}

.kolom{
    left: 50%;
    bottom: 41%;
    width: 580px;
    padding: 30px 20px;
    background: #F5F5F5;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}

h3{
    text-align: center;
    padding: 3px;
}

ul{
    padding: 10px;
}

li{
    padding: 1px;
    margin-left: 25px;
}

.popup .title{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .deskripsi{
    color: #222;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.popup section{
    color: #222;
    font-size: 15px;
    padding: 5px;
}

